body 
{
 font-family: Arial, Helvetica, sans-serif;   
margin: 0px;
}
nav {
    display: flex; 
    height: 70px;
}
.secondary-block 
{
    color: white;
    background-color: rgb(4, 117, 186);
}
a 
{
    color: white;
}
nav h2 
{
margin: 0px;
padding: 20px 0px 20px 15px;
}
nav ul
{
display: flex;
margin: 0px;
padding: 24px;
list-style: none;
}
nav li 
{
    margin-left: 15px;
}
header {
    text-align: center;
    padding: 40px;
}
.content {
    max-width: 800px;
    margin: 0px auto;
}
header h2 
{
    color: rgb(4, 117, 186);
}
header img 
{
    width: 150px;
    border-radius: 75px;
    box-shadow: rgb(102, 102, 102) 3px 3px 6px;
}
section 
{
    padding: 40px;
}
#xp ul 
{
    list-style: none;
    padding: 0px; 
    margin: 0px;
}
#xp li {
    margin-bottom: 10px;
}
#xp aside {
    float: right; 
}
#formations aside
{
    float: right;
}
#formations ul 
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.tertiary-block 
{
    color: white;
    background-color: rgb(4, 117, 186);
}
.fourth-block a
{
    color: rgb(255, 255, 255);
}
footer
{
    padding: 40px;
    background-color: rgb(51, 51, 51);
}
footer ul
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.links
{
    margin-bottom: 25px;
    width: 390px;
    display: inline-block;
}
